In [31]:
from dotenv import load_dotenv
import boto3
import os
import pymysql
import pandas as pd
import chardet
# Database connection parameters
# load_dotenv("C:\\Users\\TalAb\\OneDrive - Elad Software Systems\\Desktop\\super_market_project\\super_market_project\\.env")
# load_dotenv("C:\\Users\\TalAb\\OneDrive - Elad Software Systems\\Desktop\\Colmobil_POC\\colmobil-chatbot-project\\.env")

# endpoint = os.getenv('RDS_ENDPOINT')
# username = os.getenv('RDS_USERNAME')
# password = os.getenv('RDS_PASSWORD')
# database = os.getenv('RDS_DATABASE')
port = 3306

endpoint="database-colmobil.c9owiq2sebpi.us-east-1.rds.amazonaws.com"
username="admin"
password="Bb123456!"
database="databasecolmobil"
# Establish a connection to the RDS instance
connection = pymysql.connect(
    host=endpoint,
    user=username,
    password=password,
    database=database
)
cursor = connection.cursor()
# Execute a query
cursor.execute("SELECT VERSION()")
version = cursor.fetchone()
print(f"Database version: {version}")

Database version: ('8.0.39',)

In [32]:
df = pd.read_excel("colmobil (1).xlsx")

In [33]:
list(df.columns)

[0,
 'Has Sunroof',
 'Ground Clearance(mm)',
 'Charging time (Minutes)',
 'Num. of doors',
 'additional_description',
 'Car Type',
 'Model',
 'Brand',
 'Creation Year',
 'Engine Type',
 'Engine Displacement(KW) ',
 'Engine Displacement (Liter)',
 'Horsepower',
 'Torque (Nm)',
 'Drive Type',
 'Gearbox type',
 'Num. of gears',
 'Acceleration 0 to 100 km/h',
 'Top Speed',
 'Average Energy Consumption (kWh per 100 km)',
 'Combined Fuel Consumption (liters per 100 km)',
 'Electric Driving Range (km)',
 'Battery Capacity (kWh)',
 'Trunk capacity (liters)',
 'Num. of Seats ',
 'Fuel type ',
 'Length (mm)',
 'Width (mm)',
 'Height (mm)',
 'Wheelbase(mm)',
 'Curb Weight (kg)',
 'Basic price (NIS)',
 'Safety System(type)',
 'Multimedia System(type)',
 'Screen Size',
 'Wheel Rim Size (inch)-max',
 'Wheel rim size (inch)-min',
 'Front Lighting (type)',
 'Climate Control System (type)',
 'Vehicle Warranty (years)',
 'Battery Warranty (Years)',
 'Image URL']

In [34]:
print(endpoint)

database-colmobil.c9owiq2sebpi.us-east-1.rds.amazonaws.com

In [40]:
cursor.execute("SET FOREIGN_KEY_CHECKS = 0")

# Get all table names
cursor.execute("SHOW TABLES")
tables = cursor.fetchall()

# Drop each table
for (table_name,) in tables:
    drop_table_sql = f"DROP TABLE IF EXISTS {table_name}"
    cursor.execute(drop_table_sql)
    print(f"Dropped table {table_name}")

# Re-enable foreign key checks
cursor.execute("SET FOREIGN_KEY_CHECKS = 1")

Dropped table cars_collection

0

cars_collection table creation

In [41]:
create_table_sql = """
CREATE TABLE IF NOT EXISTS cars_collection (
    car_id INT AUTO_INCREMENT PRIMARY KEY,
    has_sunroof BOOLEAN,
    ground_clearance_mm INT,
    charging_time_minutes INT,
    num_of_doors INT,
    additional_description TEXT,
    embeddings_vector_additional_description BLOB,
    car_type ENUM('SUV', 'Electric SUV', 'Sedan', 'Hatchback', 'Electric Sedan', 'Executive Coupe Sedan'),
    model VARCHAR(50),
    embeddings_vector_model BLOB,
    brand ENUM('Hyundai', 'Ora', 'Chery', 'Mitsubishi', 'Smart'),
    creation_year INT,
    engine_type ENUM('Petrol', 'EV', 'HEV', 'MHEV'),
    engine_displacement_kw DECIMAL(5, 1),
    engine_displacement_liters DECIMAL(3, 1),
    horsepower INT,
    torque_nm INT,
    drive_type ENUM('AWD', 'FWD', 'RWD', '4WD'),
    gearbox_type ENUM('Auto', 'Manual'),
    num_of_gears INT,
    acceleration_0_100 DECIMAL(4, 2),
    top_speed_kmh INT,
    avg_energy_consumption_kwh DECIMAL(4, 2),
    combined_fuel_consumption_liters DECIMAL(4, 2),
    electric_driving_range_km INT,
    battery_capacity_kwh DECIMAL(5, 2),
    trunk_capacity_liters INT,
    num_of_seats INT,
    fuel_type ENUM('Petrol', 'Electric', 'Hybrid'),
    length_mm INT,
    width_mm INT,
    height_mm INT,
    wheelbase_mm INT,
    curb_weight_kg INT,
    basic_price_nis INT,
    safety_system_type ENUM('Advanced', 'Basic'),
    multimedia_system_type ENUM('Advanced', 'Basic'),
    screen_size DECIMAL(4, 2),
    wheel_rim_size_max INT,
    wheel_rim_size_min INT,
    front_lighting_type ENUM('LED', 'Halogen'),
    climate_control_system_type ENUM('Digital', 'Manual'),
    vehicle_warranty_years INT,
    battery_warranty_years INT,
    image_url VARCHAR(255)
);
"""

# Execute the SQL statement
cursor.execute(create_table_sql)

0

recipes table creation

In [42]:
import pandas as pd


def handle_nan(value):
    if pd.isna(value):
        return "NULL"  # Return NULL for NaN values
    elif isinstance(value, str):
        # Escape special characters (like single quotes) for SQL
        return f"'{value.replace("'", "''")}'"
    else:
        return value



for index, row in df.iterrows():
    

    # Prepare the insert statement with NULL values for NaN fields
    insert_cars_collection = f"""  
    INSERT INTO cars_collection (
        has_sunroof, ground_clearance_mm, charging_time_minutes, num_of_doors, additional_description, embeddings_vector_additional_description,
        car_type, model,embeddings_vector_model, brand, creation_year, engine_type, engine_displacement_kw, engine_displacement_liters,
        horsepower, torque_nm, drive_type, gearbox_type, num_of_gears, acceleration_0_100, top_speed_kmh,
        avg_energy_consumption_kwh, combined_fuel_consumption_liters, electric_driving_range_km,
        battery_capacity_kwh, trunk_capacity_liters, num_of_seats, fuel_type, length_mm, width_mm, height_mm,
        wheelbase_mm, curb_weight_kg, basic_price_nis, safety_system_type, multimedia_system_type,
        screen_size, wheel_rim_size_max, wheel_rim_size_min, front_lighting_type, climate_control_system_type,
        vehicle_warranty_years, battery_warranty_years, image_url
    ) VALUES (
    {handle_nan(row['Has Sunroof'])},
    {handle_nan(row['Ground Clearance(mm)'])},
    {handle_nan(row['Charging time (Minutes)'])},
    {handle_nan(row['Num. of doors'])},
    {handle_nan(row['additional_description'])},
    NULL,
    {handle_nan(row['Car Type'])},
    {handle_nan(row['Model'])},
    NULL,
    {handle_nan(row['Brand'])},
    {handle_nan(row['Creation Year'])},
    {handle_nan(row['Engine Type'])},
    {handle_nan(row['Engine Displacement(KW) '])},
    {handle_nan(row['Engine Displacement (Liter)'])},
    {handle_nan(row['Horsepower'])},
    {handle_nan(row['Torque (Nm)'])},
    {handle_nan(row['Drive Type'])},
    {handle_nan(row['Gearbox type'])},
    {handle_nan(row['Num. of gears'])},
    {handle_nan(row['Acceleration 0 to 100 km/h'])},
    {handle_nan(row['Top Speed'])},
    {handle_nan(row['Average Energy Consumption (kWh per 100 km)'])},
    {handle_nan(row['Combined Fuel Consumption (liters per 100 km)'])},
    {handle_nan(row['Electric Driving Range (km)'])},
    {handle_nan(row['Battery Capacity (kWh)'])},
    {handle_nan(row['Trunk capacity (liters)'])},
    {handle_nan(row['Num. of Seats '])},
    {handle_nan(row['Fuel type '])},
    {handle_nan(row['Length (mm)'])},
    {handle_nan(row['Width (mm)'])},
    {handle_nan(row['Height (mm)'])},
    {handle_nan(row['Wheelbase(mm)'])},
    {handle_nan(row['Curb Weight (kg)'])},
    {handle_nan(row['Basic price (NIS)'])},
    {handle_nan(row['Safety System(type)'])},
    {handle_nan(row['Multimedia System(type)'])},
    {handle_nan(row['Screen Size'])},
    {handle_nan(row['Wheel Rim Size (inch)-max'])},
    {handle_nan(row['Wheel rim size (inch)-min'])},
    {handle_nan(row['Front Lighting (type)'])},
    {handle_nan(row['Climate Control System (type)'])},
    {handle_nan(row['Vehicle Warranty (years)'])},
    {handle_nan(row['Battery Warranty (Years)'])},
    {handle_nan(row['Image URL'])}
    )"""  

    cursor.execute(insert_cars_collection)

In [43]:
cursor.execute("SELECT * FROM cars_collection")

# Fetch all rows
rows = cursor.fetchall()

# Optionally, fetch the column names
columns = [description[0] for description in cursor.description]

In [44]:
sql_df = pd.DataFrame(rows, columns=columns)

# Display the data in a tabular format
print(sql_df.head())  # Display the first few rows
print(sql_df)

   car_id  has_sunroof  ground_clearance_mm  charging_time_minutes  \
0       1            1                  170                    NaN
1       2            1                  185                    NaN
2       3            1                  173                    NaN
3       4            1                  155                  422.0
4       5            1                  135                    NaN

   num_of_doors                             additional_description  \
0             4  רכב שטח אידיאלי למשפחה שמחפשת את השילוב המושלם...
1             5  רכב שטח פרימיום שמפגיש בין עיצוב מרהיב לנוחות ...
2             5  רכב שטח קומפקטי שמציע עיצוב צעיר ודינמי, אידיא...
3             5  רכב חשמלי מתקדם עם עיצוב עתידני וטכנולוגיה חדש...
4             4  רכב משפחתי עם עיצוב נקי ומרווח פנימי שמספק נוח...

  embeddings_vector_additional_description      car_type     model  \
0                                     None           SUV    Tucson
1                                     None           SUV  Santa Fe
2                                     None           SUV      Kona
3                                     None  Electric SUV   Ioniq 5
4                                     None         Sedan   Elantra

  embeddings_vector_model  ... safety_system_type  multimedia_system_type  \
0                    None  ...           Advanced                Advanced
1                    None  ...           Advanced                Advanced
2                    None  ...           Advanced                Advanced
3                    None  ...           Advanced                Advanced
4                    None  ...           Advanced                Advanced

  screen_size wheel_rim_size_max wheel_rim_size_min  front_lighting_type  \
0       10.25                 17                 17                  LED
1       12.30                 19                 19                  LED
2        8.00                 18                 18                  LED
3       12.30                 20                 20                  LED
4        8.00                 16                 16                  LED

   climate_control_system_type vehicle_warranty_years battery_warranty_years  \
0                      Digital                      5                    NaN
1                      Digital                      5                    NaN
2                      Digital                      5                    NaN
3                      Digital                      8                    8.0
4                      Digital                      5                    NaN

                                           image_url
0  https://photosbucketcolmobil.s3.us-east-1.amaz...
1  https://photosbucketcolmobil.s3.us-east-1.amaz...
2  https://photosbucketcolmobil.s3.us-east-1.amaz...
3  https://photosbucketcolmobil.s3.us-east-1.amaz...
4  https://photosbucketcolmobil.s3.us-east-1.amaz...

[5 rows x 45 columns]
    car_id  has_sunroof  ground_clearance_mm  charging_time_minutes  \
0        1            1                  170                    NaN
1        2            1                  185                    NaN
2        3            1                  173                    NaN
3        4            1                  155                  422.0
4        5            1                  135                    NaN
5        6            2                  170                    NaN
6        7            2                  140                    NaN
7        8            2                  141                  390.0
8        9            2                  170                    NaN
9       10            2                  134                    NaN
10      11            2                  165                    NaN
11      12            2                  149                    NaN
12      13            1                  142                  420.0
13      14            2                  195                    NaN
14      15            1                  135                    NaN
15      16            1                  125                  364.0
16      17            1                  125                  364.0
17      18            2                  125                  390.0
18      19            1                  125                  306.0
19      20            1                  125                  420.0
20      21            1                  125                  420.0
21      22            1                  200                    NaN
22      23            1                  200                    NaN
23      24            1                  200                    NaN
24      25            1                  213                    NaN
25      26            2                  215                    NaN
26      27            1                  215                    NaN
27      28            2                  150                    NaN
28      29            1                  182                  390.0
29      30            1                  182                  390.0
30      31            1                  160                  420.0
31      32            1                  160                  420.0
32      33            2                  160                  420.0

    num_of_doors                             additional_description  \
0              4  רכב שטח אידיאלי למשפחה שמחפשת את השילוב המושלם...
1              5  רכב שטח פרימיום שמפגיש בין עיצוב מרהיב לנוחות ...
2              5  רכב שטח קומפקטי שמציע עיצוב צעיר ודינמי, אידיא...
3              5  רכב חשמלי מתקדם עם עיצוב עתידני וטכנולוגיה חדש...
4              4  רכב משפחתי עם עיצוב נקי ומרווח פנימי שמספק נוח...
5              5  רכב קומפקטי שזוכה להצלחה בזכות היותו קל לתמרון...
6              5  רכב מרווח עם עיצוב מודרני, מצוין לנסיעות עירונ...
7              4  רכב סדאן חשמלי עם עיצוב עתידני ומודרני, המשלב ...
8              5  רכב סופר-קומפקטי עם מנוע היברידי חסכוני המשלב ...
9              4  רכב סדאן היברידי מתקדם המשלב עיצוב חדים עם טכנ...
10             5  ה-Bayon הוא רכב קרוסאובר קומפקטי עם עיצוב צעיר...
11             5  ה-i10 הוא רכב סופר-קומפקטי, אידיאלי לנהיגה בעי...
12             5  ה-Ioniq 5 N הוא רכב חשמלי ספורטיבי המשלב ביצוע...
13             4  ה-Venue הוא קרוסאובר קומפקטי, אידיאלי עבור נהי...
14             4  ה-Sonata Hybrid מציע חווית נהיגה נוחה עם מנוע ...
15             5  ה-O3 GT מציע עיצוב ספורטיבי עם ביצועים גבוהים,...
16             5  ה-O3 400 Pro+ מציע טכנולוגיה מתקדמת לצד ביצועי...
17             5  ה-O3 420 Pro מציע חווית נהיגה מתקדמת ומרשימה ע...
18             5  ה-O3 300 Pro+ מציע ביצועים מצוינים לצד עיצוב מ...
19             5  ה-O7 Pro+ מציע ביצועים מרשימים, מנוע חזק ועיצו...
20             5  ה-O7 Pure מציע חווית נהיגה נוחה עם טכנולוגיה מ...
21             5  ה-Jaecoo 7 Executive מציע עיצוב יוקרתי עם ביצו...
22             5  ה-Jaecoo 7 Titanium מציע רכב בעל עיצוב ספורטיב...
23             5  ה-Jaecoo 7 Adventure מציע עיצוב חזק עם ביצועים...
24             5  רכב שטח מרווח ומעוצב, שמתאים לטיולי שטח משפחתי...
25             5  רכב שטח מודרני עם עיצוב אלגנטי, שמפנה מקום לנה...
26             5  רכב שטח קומפקטי שמספק חוויית נהיגה עירונית ושט...
27             5  רכב עירוני קטן וקל, שמספק פתרון פרקטי למי שמחפ...
28             5  ה-Smart #1 Pro+ הוא רכב חשמלי עם עיצוב חדשני ו...
29             5  ה-Smart #1 BRABUS מציע ביצועים ספורטיביים עם ע...
30             5  ה-Smart #3 Pro+ מציע חווית נהיגה מצוינת עם טכנ...
31             5  ה-Smart #3 Premium/25th Anniversary הוא גרסה מ...
32             5  ה-Smart #3 BRABUS מציע חווית נהיגה ספורטיבית ו...

   embeddings_vector_additional_description               car_type  \
0                                      None                    SUV
1                                      None                    SUV
2                                      None                    SUV
3                                      None           Electric SUV
4                                      None                  Sedan
5                                      None              Hatchback
6                                      None              Hatchback
7                                      None         Electric Sedan
8                                      None                    SUV
9                                      None                  Sedan
10                                     None                    SUV
11                                     None              Hatchback
12                                     None           Electric SUV
13                                     None                    SUV
14                                     None                  Sedan
15                                     None              Hatchback
16                                     None              Hatchback
17                                     None              Hatchback
18                                     None              Hatchback
19                                     None  Executive Coupe Sedan
20                                     None  Executive Coupe Sedan
21                                     None                    SUV
22                                     None                    SUV
23                                     None                    SUV
24                                     None                    SUV
25                                     None                    SUV
26                                     None                    SUV
27                                     None              Hatchback
28                                     None           Electric SUV
29                                     None           Electric SUV
30                                     None                    SUV
31                                     None                    SUV
32                                     None           Electric SUV

                                model embeddings_vector_model  ...  \
0                              Tucson                    None  ...
1                            Santa Fe                    None  ...
2                                Kona                    None  ...
3                             Ioniq 5                    None  ...
4                             Elantra                    None  ...
5                                 i20                    None  ...
6                                 i30                    None  ...
7                    ioniq-6 prestige                    None  ...
8                         kona-hybrid                    None  ...
9                      elantra-hybrid                    None  ...
10                              bayon                    None  ...
11                                i10                    None  ...
12                           ioniq5-n                    None  ...
13                              venue                    None  ...
14                      sonata-hybrid                    None  ...
15                              O3 GT                    None  ...
16                        O3 400 Pro+                    None  ...
17                         O3 420 Pro                    None  ...
18                        O3 300 Pro+                    None  ...
19                            O7 Pro+                    None  ...
20                            O7 Pure                    None  ...
21                 Jaecoo 7 Executive                    None  ...
22                   Jaecoo 7 Titanum                    None  ...
23                 Jaecoo 7 Adventure                    None  ...
24                          Outlander                    None  ...
25                      Eclipse Cross                    None  ...
26                                ASX                    None  ...
27                         Space Star                    None  ...
28                      smart #1 pro+                    None  ...
29                    smart #1 BRABUS                    None  ...
30                      smart #3 Pro+                    None  ...
31  smart #3 Premium/25th Anniversary                    None  ...
32                    smart #3 BRABUS                    None  ...

   safety_system_type  multimedia_system_type screen_size wheel_rim_size_max  \
0            Advanced                Advanced       10.25                 17
1            Advanced                Advanced       12.30                 19
2            Advanced                Advanced        8.00                 18
3            Advanced                Advanced       12.30                 20
4            Advanced                Advanced        8.00                 16
5               Basic                   Basic        7.00                 15
6            Advanced                Advanced        8.00                 16
7            Advanced                Advanced       12.25                 18
8            Advanced                Advanced       12.30                 18
9            Advanced                Advanced       10.25                 17
10           Advanced                Advanced        8.00                 17
11              Basic                Advanced        8.00                 15
12           Advanced                Advanced       12.30                 21
13              Basic                Advanced        8.00                 17
14           Advanced                Advanced       12.30                 17
15           Advanced                Advanced       10.25                 18
16           Advanced                Advanced       10.25                 18
17           Advanced                Advanced       10.25                 18
18           Advanced                Advanced       10.25                 18
19           Advanced                Advanced       12.30                 18
20           Advanced                Advanced       12.30                 18
21           Advanced                Advanced       13.20                 19
22           Advanced                Advanced       13.20                 18
23           Advanced                Advanced       14.80                 18
24           Advanced                Advanced        9.00                 18
25           Advanced                Advanced        8.00                 18
26              Basic                   Basic        7.00                 17
27              Basic                   Basic        7.00                 19
28           Advanced                Advanced       12.80                 19
29           Advanced                Advanced       12.80                 19
30           Advanced                Advanced       12.80                 19
31           Advanced                Advanced       12.80                 19
32           Advanced                Advanced       12.80                 19

   wheel_rim_size_min  front_lighting_type  climate_control_system_type  \
0                  17                  LED                      Digital
1                  19                  LED                      Digital
2                  18                  LED                      Digital
3                  20                  LED                      Digital
4                  16                  LED                      Digital
5                  15              Halogen                       Manual
6                  16                  LED                      Digital
7                  18                  LED                      Digital
8                  18                  LED                      Digital
9                  15                  LED                      Digital
10                 16                  LED                      Digital
11                 14              Halogen                      Digital
12                 21                  LED                      Digital
13                 15              Halogen                      Digital
14                 17                  LED                      Digital
15                 18                  LED                      Digital
16                 18                  LED                      Digital
17                 18                  LED                      Digital
18                 18                  LED                      Digital
19                 18                  LED                      Digital
20                 18                  LED                      Digital
21                 19                  LED                      Digital
22                 18                  LED                      Digital
23                 18                  LED                      Digital
24                 18                  LED                      Digital
25                 18                  LED                      Digital
26                 17                  LED                      Digital
27                 14              Halogen                       Manual
28                 19                  LED                      Digital
29                 19                  LED                      Digital
30                 19                  LED                      Digital
31                 19                  LED                      Digital
32                 19                  LED                      Digital

   vehicle_warranty_years battery_warranty_years  \
0                       5                    NaN
1                       5                    NaN
2                       5                    NaN
3                       8                    8.0
4                       5                    NaN
5                       3                    NaN
6                       5                    NaN
7                       5                    8.0
8                       5                    8.0
9                       5                    8.0
10                      5                    8.0
11                      5                    NaN
12                      5                    8.0
13                      5                    NaN
14                      5                   10.0
15                      5                    NaN
16                      5                    NaN
17                      5                    NaN
18                      5                    NaN
19                      5                    NaN
20                      5                    NaN
21                      5                    NaN
22                      5                    NaN
23                      5                    NaN
24                      5                    NaN
25                      5                    NaN
26                      5                    NaN
27                      3                    NaN
28                      3                    8.0
29                      3                    8.0
30                      2                    8.0
31                      2                    8.0
32                      2                    8.0

                                            image_url
0   https://photosbucketcolmobil.s3.us-east-1.amaz...
1   https://photosbucketcolmobil.s3.us-east-1.amaz...
2   https://photosbucketcolmobil.s3.us-east-1.amaz...
3   https://photosbucketcolmobil.s3.us-east-1.amaz...
4   https://photosbucketcolmobil.s3.us-east-1.amaz...
5   https://photosbucketcolmobil.s3.us-east-1.amaz...
6   https://photosbucketcolmobil.s3.us-east-1.amaz...
7   https://photosbucketcolmobil.s3.us-east-1.amaz...
8   https://photosbucketcolmobil.s3.us-east-1.amaz...
9   https://photosbucketcolmobil.s3.us-east-1.amaz...
10  https://photosbucketcolmobil.s3.us-east-1.amaz...
11  https://photosbucketcolmobil.s3.us-east-1.amaz...
12  https://photosbucketcolmobil.s3.us-east-1.amaz...
13  https://photosbucketcolmobil.s3.us-east-1.amaz...
14  https://photosbucketcolmobil.s3.us-east-1.amaz...
15  https://photosbucketcolmobil.s3.us-east-1.amaz...
16  https://photosbucketcolmobil.s3.us-east-1.amaz...
17  https://photosbucketcolmobil.s3.us-east-1.amaz...
18  https://photosbucketcolmobil.s3.us-east-1.amaz...
19  https://photosbucketcolmobil.s3.us-east-1.amaz...

In [45]:

# Commit the changes
connection.commit()

# Close the cursor and connection
cursor.close()
connection.close()